In [3]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as ss
from scipy.optimize import curve_fit
import pandas as pd
import glob
import os

#path = 'Documents\GitHub\Forsoeg_1\Data\Labdag 1\r_baggrund'
path = r'\Users\jeppe\Documents\GitHub\Forsoeg_1\Data\Labdag 1\t_baggrund'
paths_temp = glob.glob(path + '\*')

#Fjerner sidste element fra mappen som er denne fil og den nye middel fil
indices = 0,6 
paths = [i for j, i in enumerate(paths_temp) if j not in indices]

#Læser alle .csv filerne ind efter deres vinkler
files = []
df_temp = []
for p in paths:
    df_temp1 = []
    fs = glob.glob(p+'/*.csv')
    files.append(fs)
    for f in fs:
        csv = pd.read_csv(f,sep=';',skiprows=[1],decimal=',')
        df_temp1.append(csv)
    df_temp.append(df_temp1)

#Samler df_temp til 5 store dfs
dfs = [pd.concat(df) for df in df_temp]

#Midler df'erne individuelt
means = [df['Kanal A'].mean() for df in dfs]

#Navngivning af vinkler
ang = [10,20,30,40,50]

#Dictionary til ny df med middelværdier
dict = {'Angle':ang, 'Mean':means}

#Df med ny middelværdier
df_mean = pd.DataFrame(dict)
print(df_mean)

#Gemmer som ny .csv
df_mean.to_csv('t_baggrund_middel.csv')

   Angle      Mean
0     10  4.743104
1     20  8.230631
2     30  0.009492
3     40  4.339411
4     50  5.170906

In [7]:
np.mean(dfs[0])

Tid        2.950000
Kanal A    4.743104
dtype: float64

In [9]:
dfs[0]

     Tid   Kanal A
0   -4.0  5.604084
1   -3.9  5.610236
2   -3.8  5.622539
3   -3.7  5.634842
4   -3.6  5.644070
..   ...       ...
135  9.5  7.526451
136  9.6  7.514148
137  9.7  7.498769
138  9.8  7.480314
139  9.9  7.471087

[4480 rows x 2 columns]